.tooltip {
    border: solid rgb(201, 201, 201) 1px;
    padding: 4px;
    background-color: #222222;
}

.tooltip-item {
    margin: 4px;
    color: lightgrey;
}

.download {
    color: #6afff3;
}

.upload {
    color: #bf71ff;
}
